schemas/maven-4.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns="http://maven.apache.org/POM/4.0.0">
  <xs:element name="project" type="Project">
    <xs:annotation>
      <xs:documentation source="version">4.0.0</xs:documentation>
      <xs:documentation source="description">The &lt;code&gt;project&lt;/code&gt; element is the root of the descriptor.
        The following table lists all of the possible child elements.</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="Project">
    <xs:all>
      <xs:element name="modelVersion" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">Declares to which version of project descriptor this POM conforms.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="groupId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">A universally unique identifier for a project. It is normal to
            use a fully-qualified package name to distinguish it from other projects with a similar name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artifactId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The identifier for this artifact that is unique within the group given by the
            group ID.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The current version of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="packaging" type="xs:string" minOccurs="0" maxOccurs="1" default="jar">
        <xs:annotation>
          <xs:documentation source="description">The type of artifact this project produces, for example &lt;code&gt;jar&lt;/code&gt;
            &lt;code&gt;war&lt;/code&gt; &lt;code&gt;ear&lt;/code&gt; &lt;code&gt;pom&lt;/code&gt;.
            Plugins can create their own packaging, and therefore their own packaging types,
            so this list does not contain all possible types.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="properties" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Properties that can be used throughout the POM.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dependencies" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">This element describes all of the dependencies associated with a
            project.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dependency" type="Dependency" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="build" type="Build" minOccurs="0"/>
      <xs:element name="profiles" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">A listing of project-local build profiles which will modify the build 
            process when activated.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="profile" minOccurs="0" maxOccurs="unbounded" type="Profile"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Dependency">
    <xs:all>
      <xs:element name="groupId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The project group that produced the dependency, e.g.
            &lt;code&gt;org.apache.maven&lt;/code&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artifactId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The unique id for an artifact produced by the project group, e.g.
            &lt;code&gt;maven-artifact&lt;/code&gt;.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The version of the dependency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scope" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The scope of the dependency - &lt;code&gt;compile&lt;/code&gt;,
            &lt;code&gt;runtime&lt;/code&gt;, &lt;code&gt;test&lt;/code&gt;, &lt;code&gt;system&lt;/code&gt;, and
            &lt;code&gt;provided&lt;/code&gt;. Used to calculate the various classpaths used for compilation, testing, and so on.
            It also assists in determining which artifacts to include in a distribution of this project</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Build">
    <xs:all>
      <xs:element name="testResources" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">This element describes all of the test resources associated with a project.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="testResource" type="Resource" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="plugins" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">The list of plugins for this project.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="plugin" type="Plugin" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Resource">
    <xs:all>
      <xs:element name="directory" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The directory containing the resources.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="excludes" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">The patterns to exclude from the resource.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="exclude" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Plugin">
    <xs:all>
      <xs:element name="groupId" type="xs:string" minOccurs="0" maxOccurs="1" default="org.apache.maven.plugins">
        <xs:annotation>
          <xs:documentation source="description">The group ID of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="artifactId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The artifact ID of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The version of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="configuration" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">The configuration for the plugin.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executions" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Multiple executions of a plugin can be configured.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="execution" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:all>
                  <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1" default="default">
                    <xs:annotation>
                      <xs:documentation source="description">The identifier for this execution.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="phase" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation source="description">The build phase to bind the goal to.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="goals" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation source="description">The goals to execute with the given configuration.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="goal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="configuration" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation source="description">The configuration for this execution.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  
  <xs:complexType name="Profile">
    <xs:all>
      <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation source="description">The identifier of this build profile.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="properties" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Extended configuration specific to this profile.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="build" type="Build" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>